<a href="https://colab.research.google.com/github/Leonardo-Neves/AmigosDaPazPHPETEPS12020/blob/master/C%C3%B3pia_de_An%C3%A1lise_e_dados_Desafio_T%C3%A9cnico_Estagi%C3%A1rio_em_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import io
from google.colab import files

uploaded = files.upload()

Saving DesafioEstagioMachineLearning.csv to DesafioEstagioMachineLearning.csv

In [ ]:
import seaborn as sns

In [ ]:
data = pd.read_csv(io.StringIO(uploaded['DesafioEstagioMachineLearning.csv'].decode('utf-8')))

<h1>Análise e dados - Desafio Técnico Estagiário em Machine Learning</h1>

Um cliente da Geofusion que atua no <b>setor alimentício</b> na cidade do Rio de Janeiro gostaria de <b>entender melhor sobre o seu público alvo.</b> Dadas as variáveis sociodemográficas (presentes no dicionário de dados) e a variável de performance faturamento, <b>realize uma análise exploratória trazendo insights sobre o público alvo da rede e crie um modelo de regressão capaz de prever o faturamento em novos bairros,</b> caso o nosso cliente queira realizar um projeto de expansão.

<h3>Observações</h3>

- Variável <b>cidade</b> e <b>estado</b> oferecem a mesma informação
- Variável <b>população</b> oferece a informações sobre a <b>população dos bairros</b> e a distruição dessa informação por idades

In [ ]:
data

         codigo               nome  ... rendaMedia faturamento
0    3304557060           Abolição  ...     2501.0    932515.0
1    3304557138              Acari  ...      931.0    588833.0
2    3304557057         Água Santa  ...     2391.0    874200.0
3    3304557031  Alto Da Boa Vista  ...     3727.0    912226.0
4    3304557125           Anchieta  ...     1380.0    553020.0
..          ...                ...  ...        ...         ...
155  3304557062        Vila Kosmos  ...     2316.0    901446.0
156  3304557093       Vila Militar  ...     2416.0    849731.0
157  3304557091     Vila Valqueire  ...     3189.0   1127042.0
158  3304557065       Vista Alegre  ...     2418.0    921875.0
159  3304557110              Zumbi  ...     3791.0    919451.0

[160 rows x 23 columns]

In [ ]:
sns.displot(data.loc[data['nome'] == 'Acari'],  height = 10)

In [ ]:
sns.displot(data = data.loc[data['nome'] == 'Abolição', pop], x = pop, y = data.loc[data['nome'] == 'Abolição', pop], height = 10)

In [ ]:
data['namecolumn'].unique() # unique values of this property
                            # value_counts explose a quantity of the category

In [ ]:
data.loc[data['nome'] == 'Abolição', pop]

   popAte9  popDe10a14  popDe15a19  ...  popDe35a49  popDe50a59  popMaisDe60
0     1027         483         688  ...        2300        1784         2919

[1 rows x 8 columns]

In [ ]:
data.iloc[:, 5:13]

     popAte9  popDe10a14  popDe15a19  ...  popDe35a49  popDe50a59  popMaisDe60
0       1027         483         688  ...        2300        1784         2919
1       5131        2188        2697  ...        5308        2403         2397
2        883         399         597  ...        2076        1112         1419
3       1072         538         660  ...        2007        1341         1986
4       7677        3774        4892  ...       12272        7157         8190
..       ...         ...         ...  ...         ...         ...          ...
155     1802         921        1442  ...        3944        2920         3800
156     1888         787        1042  ...        2908        1528         1879
157     3166        1619        2255  ...        7183        4950         6939
158      724         387         580  ...        1812        1474         2120
159      175          74         120  ...         417         314          533

[160 rows x 8 columns]